<header class="navbar">
  <div class="container">
    <!-- Brand Logo on the left -->
     <div class="brand">
      <a href="#" class="logo">
        <img src="img/logo.png" alt="Brand Logo" >
      </a>
      <span style="letter-spacing: 0.2rem; text-transform: uppercase;">
        <span style="font-size: 2rem; color: #e02323;">S</span>atish
        <span style="font-size: 2rem; color: #e02323;">K</span>onduru
      </span>
     </div>


    <!-- Hamburger Menu for Mobile View -->
    <button class="hamburger" id="hamburger">
      <i class="fa-solid fa-bars"></i>
    </button>



    <!-- Navigation Links -->
    <nav class="nav-links" id="navLinks">

      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#contact">Contact</a>
      <button type="button">Let's Talk</button>
    </nav>
  </div>
</header>

