<div class="container">
    <div class="profile-header">
      <span>What I do...</span>
    </div>
    <div class="profile-description">
      <p>
      <span style="color:blue; font-size: 2rem;">E</span>mpowering developers and businesses alike, I am an accomplished Angular expert with extensive experience in backend technologies, including Python, NodeJS, PostgreSQL, MySQL, and MongoDB.
      </p>
      <p>
        <span style="color:blue; font-size: 2rem;">P</span>assionate about creating seamless and innovative web applications, I harness my expertise to deliver exceptional user experiences. Driven by a commitment to excellence, I continuously strive to stay ahead of industry trends and best practices, ensuring that my projects not only meet but exceed client expectations.
        <p>
          <span style="color:blue; font-size: 2rem;">M</span>y portfolio showcases a diverse range of projects that reflect my dedication to quality and my ability to adapt to the evolving tech landscape.
        </p>

   </div>

   <div class="skill-set">
    <div class="skill">
      <circle-progress
        [percent]="angularProgress"
        [radius]="AngularcircleOptions.radius"
        [outerStrokeWidth]="AngularcircleOptions.outerStrokeWidth"
        [innerStrokeWidth]="AngularcircleOptions.innerStrokeWidth"
        [outerStrokeColor]="AngularcircleOptions.outerStrokeColor"
        [innerStrokeColor]="AngularcircleOptions.innerStrokeColor"
        [animationDuration]="AngularcircleOptions.animationDuration"
        [backgroundStrokeWidth]="5"

        [animation]="true">
      </circle-progress>
      <div class="centered-text">
        <b style="color:red; font-size: 1.5rem;">Angular</b>
      </div>
    </div>

    <div class="skill">
      <circle-progress
        [percent]="pythonProgress"
        [radius]="PythoncircleOptions.radius"
        [outerStrokeWidth]="PythoncircleOptions.outerStrokeWidth"
        [innerStrokeWidth]="PythoncircleOptions.innerStrokeWidth"
        [outerStrokeColor]="PythoncircleOptions.outerStrokeColor"
        [innerStrokeColor]="PythoncircleOptions.innerStrokeColor"
        [animationDuration]="PythoncircleOptions.animationDuration"
        [backgroundStrokeWidth]="5"

        [animation]="true">
      </circle-progress>
      <div class="centered-text">
        <b style="color:green; font-size: 1.5rem;">Python</b>
      </div>
    </div>

    <div class="skill">
      <circle-progress
        [percent]="NodeJSProgress"
        [radius]="NodeJScircleOptions.radius"
        [outerStrokeWidth]="NodeJScircleOptions.outerStrokeWidth"
        [innerStrokeWidth]="NodeJScircleOptions.innerStrokeWidth"
        [outerStrokeColor]="NodeJScircleOptions.outerStrokeColor"
        [innerStrokeColor]="NodeJScircleOptions.innerStrokeColor"
        [animationDuration]="NodeJScircleOptions.animationDuration"
        [backgroundStrokeWidth]="5"

        [animation]="true">
      </circle-progress>
      <div class="centered-text">
        <b style="color:blue; font-size: 1.5rem;">NodeJS</b>
      </div>
    </div>

    <div class="skill">
      <circle-progress
        [percent]="MongoDBProgress"
        [radius]="MongoDBcircleOptions.radius"
        [outerStrokeWidth]="MongoDBcircleOptions.outerStrokeWidth"
        [innerStrokeWidth]="MongoDBcircleOptions.innerStrokeWidth"
        [outerStrokeColor]="MongoDBcircleOptions.outerStrokeColor"
        [innerStrokeColor]="MongoDBcircleOptions.innerStrokeColor"
        [animationDuration]="MongoDBcircleOptions.animationDuration"
        [backgroundStrokeWidth]="5"

        [animation]="true">
      </circle-progress>
      <div class="centered-text">
        <b style="color:blueviolet; font-size: 1.5rem;">MongoDB </b>
      </div>
    </div>
  </div>

</div>
